# ==== Root environment (copier en .env puis ajuster) ====
# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong
POSTGRES_DB=app_db

# Backend secrets
SECRET_KEY=change_me_flask_secret
JWT_SECRET_KEY=change_me_jwt_secret
APP_VERSION=0.1.0

# Database URL utilisée par Flask (côté container backend => host 'db')
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://postgres:change_me_strong@db:5432/app_db

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# (Optionnel) Pour un backend local hors docker (décommentez et adaptez)
# SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://postgres:change_me_strong@localhost:5432/app_db
