# ==== Backend local example (copier en backend/.env) ====
SECRET_KEY=change_me_flask_secret
JWT_SECRET_KEY=change_me_jwt_secret
APP_VERSION=0.1.0
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://postgres:change_me_strong@db:5432/app_db
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
